body{ background-color:#000; 
      

}

h1{ color:#FFF; 
    font-size:50pt;
	
	background-color:#6B5E55;
}

	P {color:#FFF;
	    font-size:25pt;
		background-color:#6B5E55;
	
	}
	
div{ color:FFF;
     margin:40px;

}	
	
   
